*{
  margin: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  background-color: #F5F5F5;
}

main h3{
  font-size: calc(8px + 2vw);
  margin: 1vh 1vw;
  text-align: center;
}

h5 {
  font-size: calc(12px + .5vw);
  margin: 1vh 1vw;
}

main h4{
  font-size: calc(12px + 1vw);
  margin: 1vh 1vw;
}

main p{
  margin: 1vh 1vw;
  font-size: calc(10px + .5vw);
}

main li{
  font-size: calc(10px + .5vw);
}

main ul{
  padding-bottom: 1vh;
}

a{
  color: #156064ff;
}

@media screen and (max-width: 800px){
  header{
    align-items: center;
  }

  main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
  }

  main p{
    margin: 2% 2%;
    font-size: calc(3px + 2vw);
  }

  main img{
    margin: 3vh;
    width: 50%;
    height: auto;
    border-radius: 50%;
    align-self: center;
  }

  main h3{
    font-size: calc(8px + 3vw);
    margin: 1vh 1vw;
    text-align: center;
  }

  main h4{
    font-size: calc(10px + 2vw);
    margin: 1vh 1vw;
  }

  main h5{
    font-size: calc(4px + 2vw);
    margin: 1vh 1vw;
  }
}